body{ padding: 0; margin: 0; font-family: 'segoe UI'; font-size: 62.5%}
h1{ font-size: 2rem; text-align: center}
article{ padding: 150px 0}
a{ font-size: 1.2rem; text-align: center}
a{ width: 200px; margin: auto}